# Clave secreta utilizada para firmar los tokens JWT
SECRET = "your_generated_secret"
# Algoritmo utilizado para cifrar los tokens JWT
ALGORITHM = "HS256" 
# Duración en minutos de validez del token de acceso
ACCESS_TOKEN_DURATION = 1
# Correo electrónico utilizado en el servicio de envío de verificación
EMAIL_ACCOUNT= "your_email@example.com"
# Contraseña para el correo electrónico utilizado en el servicio de envío de verificación
EMAIL_PASSWORD= "your_email_password"

# Datos para la conexión a PostgreSQL
_DATABASE = "api_users_2"
_USERNAME = "your_postgres_username"
_PASSWORD = "your_postgres_password"
_DB_PORT = "5432"
_HOST = "127.0.0.1"
_MIN_CON = 1
_MAX_CON = 5
_pool = None
